{% macro profile_form(member, supervisors) -%}
<div class="box-body">
  <div class="form-group">
    <label class="col-sm-2 control-label">English Name</label>
    <div class="col-sm-10">
      <input name="en_name" class="form-control" id="input_en_name" value="{{ member.en_name }}" placeholder="Name in English" required>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Chinese Name</label>
    <div class="col-sm-10">
      <input name="zh_name" class="form-control" id="input_zh_name" value="{{ member.zh_name }}" placeholder="Chinese Name (if any)" >
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Sex</label>
    <div class="col-sm-10">
      <div class="radio">
        <label>
        {% if member.sex == 'Male' %}
          <input type="radio" name="sex" id="sex_option_male" value="Male" checked>
        {% else %}
          <input type="radio" name="sex" id="sex_option_male" value="Male">
        {% endif %}
          Male
        </label>
      </div>
      <div class="radio">
        <label>
        {% if member.sex == 'Female' %}
          <input type="radio" name="sex" id="sex_option_female" value="Female" checked>
        {% else %}
          <input type="radio" name="sex" id="sex_option_female" value="Female">
        {% endif %}
          Female
        </label>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Birthdate</label>
    <div class="col-sm-10">
      <div class="input-group">
        <div class="input-group-addon">
          <i class="fa fa-calendar"></i>
        </div>
        <input type="text" name="birthdate" class="form-control" id="input_birthdate" value="{{ member.birthdate|default() }}" data-inputmask="'alias': 'dd/mm/yyyy'" data-mask>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Email</label>
    <div class="col-sm-10">
      <input name="email" class="form-control" id="input_email" value="{{ member.email|default() }}" placeholder="Email" >
    </div>
  </div>
  <hr>
  <div class="form-group">
    <label class="col-sm-2 control-label">State</label>
    <div class="col-sm-10">
      <select name="state" id="select_state" class="form-control">
        <option>Present</option>
        <option>Alumni</option>
        <option>Candidate</option>
      </select>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Position</label>
    <div class="col-sm-10">
      <select name="position" id="select_position" class="form-control">
      {% for position in session['config']['positions'] %}
        <option>{{ position }}</option>
      {% endfor %}
      </select>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Supervisor</label>
    <div class="col-sm-10">
      <select name="supervisor" id="select_supervisor" class="form-control">
      {% for supervisor in supervisors %}
        <option>{{ supervisor.en_name }}</option>
      {% endfor %}
        <option>Others</option>
        <option>None</option>
      </select>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Admission date</label>
    <div class="col-sm-10">
      <div class="input-group">
        <div class="input-group-addon">
          <i class="fa fa-calendar"></i>
        </div>
        <input name="from_date" class="form-control" id="input_from_date" value="{{ member.from_date|default() }}" class="form-control" data-inputmask="'alias': 'mm/yyyy'" data-mask>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Graduation date</label>
    <div class="col-sm-10">
      <div class="input-group">
        <div class="input-group-addon">
          <i class="fa fa-calendar"></i>
        </div>
        <input name="to_date" class="form-control" id="input_to_date" value="{{ member.to_date|default() }}" class="form-control" data-inputmask="'alias': 'mm/yyyy'" data-mask>
      </div>
    </div>
  </div>
  <hr>
  <div class="form-group">
    <label class="col-sm-2 control-label">Bachelor school</label>
    <div class="col-sm-10">
      <input name="bachelor_school" class="form-control" id="input_bachelor_school" value="{{ member.bachelor.school|default() }}" placeholder="University (in English)" >
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Bachelor department</label>
    <div class="col-sm-10">
      <input name="bachelor_department" class="form-control" id="input_bachelor_department" value="{{ member.bachelor.department|default() }}" placeholder="Department (in English)" >
    </div>
  </div>
  <div class="form-group" id="form_rank">
    <label class="col-sm-2 control-label">Bachelor GPA rank</label>
    <div class="col-sm-10">
      <input name="bachelor_rank" class="form-control" id="input_bachelor_rank" value="{{ member.bachelor.rank|default() }}" placeholder="GPA rank (rank/total)" >
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Master school</label>
    <div class="col-sm-10">
      <input name="master_school" class="form-control" id="input_master_school" value="{{ member.master.school|default() }}" placeholder="University (in English)" >
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Master department</label>
    <div class="col-sm-10">
      <input name="master_department" class="form-control" id="input_master_department" value="{{ member.master.department|default() }}" placeholder="Department (in English)" >
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">PhD school</label>
    <div class="col-sm-10">
      <input name="phd_school" class="form-control" id="input_phd_school" value="{{ member.doctor.department|default() }}" placeholder="University (in English)" >
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">PhD department</label>
    <div class="col-sm-10">
      <input name="phd_department" class="form-control" id="input_phd_department" value="{{ member.doctor.department }}" placeholder="Department (in English)" >
    </div>
  </div>
  <hr>
  <div class="form-group">
    <label class="col-sm-2 control-label">Awards</label>
    <div class="col-sm-10">
      <textarea name="awards" class="form-control" rows="3" value="{{ member.awards|join('<br>')|default() }}" placeholder="Place each award in a new line, or leave if blank if not applicable"></textarea>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Google scholar page</label>
    <div class="col-sm-10">
      <input name="google_scholar_page" class="form-control" id="input_google_scholar_page" value="{{ member.google_scholar_page|default() }}" placeholder="Page URL" >
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Curriculum Vitae</label>
    <div class="col-sm-10">
      <input name="cv_url" class="form-control" id="input_google_scholar_page" value="{{ member.google_scholar_page|default() }}" placeholder="Your CV url (if applicable)" >
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Personal homepage</label>
    <div class="col-sm-10">
      <input name="homepage" class="form-control" id="input_google_scholar_page" value="{{ member.google_scholar_page|default() }}" placeholder="Personal homepage (if applicable)" >
    </div>
  </div>
</div>
{%- endmacro %}

{% macro input_mask() -%}
<script src="/static/AdminLTE/plugins/input-mask/jquery.inputmask.js"></script>
<script src="/static/AdminLTE/plugins/input-mask/jquery.inputmask.date.extensions.js"></script>
<script src="/static/AdminLTE/plugins/input-mask/jquery.inputmask.extensions.js"></script>
<script type="text/javascript">
    $(function () {
        $("#input_birthdate").inputmask("dd/mm/yyyy", {"placeholder": "dd/mm/yyyy"});
        $("#input_from_date").inputmask("mm/yyyy", {"placeholder": "mm/yyyy"});
        $("#input_to_date").inputmask("mm/yyyy", {"placeholder": "mm/yyyy"});
    });
</script>
{%- endmacro %}

{% macro select_default(member) -%}
<script type="text/javascript">
    $(function () {
        $("#select_state").val("{{ member.state | default('Present') }}");
        $("#select_position").val("{{ member.position }}");
        $("#select_supervisor").val("{{ member.supervisor | default('') }}");
        if ($("#select_state").val() != "Candidate") {
            $("#form_rank").hide();
        }
        $("#select_state").change(function() {
            if ($("#select_state").val() != "Candidate") {
                $("#form_rank").hide();
            } else {
                $("#form_rank").show();
            }
        });
    });
</script>
{%- endmacro %}

{% macro comment_box(comment) -%}
{{ caller() }}
<div class="box-comment">
  <img class="img-responsive img-circle img-sm" src="{{ comment['avatar_url'] }}" alt="Photo">
  <div class="comment-text">
    <span class="username">
      {{ comment['name'] }}
      <span class="text-muted pull-right">{{ comment['time'] }}</span>
    </span>
    {{ comment['content'] | e }}
  </div>
</div>
{%- endmacro %}

{% macro comment(member) -%}
<div class="box box-info">
  <div class="box-header with-border">
    <h3 class="box-title">Comments</h3>
    <div class="box-tools pull-right">
      <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
      </button>
    </div>
  </div>
  <div class="box-comments box-footer">
  </div>
  <div class="box-footer">
    <form id="form_comment" action="/member/{{ member.uid }}/comments" method="post">
      <img class="img-responsive img-circle img-sm" src="{{ session['avatar_url'] }}" alt="Alt Text">
      <!-- .img-push is used to add margin to elements next to floating images -->
      <div class="img-push">
        <input type="text" name="comment" id="input_comment" class="form-control input-sm" placeholder="Press enter to post comment">
      </div>
    </form>
  </div>
</div>
{%- endmacro %}

{% macro comment_js() -%}
<script type="text/javascript">
  function commentHtml(comment) {
    return `
    <div class="box-comment">
      <img class="img-responsive img-circle img-sm" src="${comment['avatar_url']}" alt="Photo">
      <div class="comment-text">
        <span class="username">
          ${comment['name']}
          <span class="text-muted pull-right">${comment['time']}</span>
        </span>
        ${comment['content']}
      </div>
    </div>`;
  }
  $(function() {
    var commentUrl = $("#form_comment").attr("action");
    $.get(commentUrl).done(function(retData) {
      for (i = 0; i < retData.length; i++) {
        $(".box-comments").append(commentHtml(retData[i]));
      }
    });
    $("#form_comment").submit(function() {
      $.post(
        commentUrl,
        {comment: $("#input_comment").val()}
      ).done(function(retData) {
        $(".box-comments").append(commentHtml(retData));
        $("#input_comment").val("");
      });
      return false;
    });
  });
</script>
{%- endmacro %}

{% macro new_publication_form(form_id, submit_url) -%}
<form class="form-horizontal" id="{{ form_id }}" action="{{ submit_url }}" method="post" _lpchecked="1">
  <div class="form-group">
    <label class="col-sm-2 control-label">Title</label>
    <div class="col-sm-10">
      <input name="title" class="form-control" id="input_title" placeholder="Title" required>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Author</label>
    <div class="col-sm-10">
      <input name="author" class="form-control" id="input_author" placeholder="Author" required>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Publication year</label>
    <div class="col-sm-10">
      <input name="year" class="form-control" id="input_year" placeholder="yyyy" required>
    </div>
  </div>
  <div class="form-group">
    {{ caller() }}
  </div>
  <p class="text-light-blue">If you cannot find the conference/journal you want, please use the bibtex to add publications.</p>
  <div class="form-group">
    <label class="col-sm-2 control-label">Volume</label>
    <div class="col-sm-10">
      <input name="volume" class="form-control" id="input_volume" placeholder="Volume">
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Pages</label>
    <div class="col-sm-10">
      <input name="pages" class="form-control" id="input_pages" placeholder="Pages">
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Publisher</label>
    <div class="col-sm-10">
      <input name="publisher" class="form-control" id="input_publisher" placeholder="Publisher">
    </div>
  </div>
</form>
{%- endmacro %}

{% macro new_publication_tab(submit_url) -%}
{{ caller() }}
<div class="nav-tabs-custom">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#tab_bibtex" data-toggle="tab" aria-expanded="true">Bibtex</a></li>
    <li class=""><a href="#tab_conference" data-toggle="tab" aria-expanded="false">Conference</a></li>
    <li class=""><a href="#tab_journal" data-toggle="tab" aria-expanded="false">Journal</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="tab_bibtex">
      <form id="form_bibtex" action="{{ submit_url }}" method="POST">
        <textarea name="bibtex" class="form-control" rows="10" placeholder="Paste the bibtex here"></textarea>
      </form>
    </div>
    <div class="tab-pane" id="tab_conference">
      {% call new_publication_form("form_conference", submit_url) %}
        <label class="col-sm-2 control-label">Conference</label>
        <div class="col-sm-10">
          <select name="booktitle" id="select_conference" class="form-control">
            {% for conference in session['config']['conferences'] %}
            <option>{{ conference }}</option>
            {% endfor %}
          </select>
        </div>
      {% endcall %}
    </div>
    <div class="tab-pane" id="tab_journal">
      {% call new_publication_form("form_journal", submit_url) %}
        <label class="col-sm-2 control-label">Journal</label>
        <div class="col-sm-10">
          <select name="journal" id="select_journal" class="form-control">
            {% for journal in session['config']['journals'] %}
            <option>{{ journal }}</option>
            {% endfor %}
          </select>
        </div>
      {% endcall %}
    </div>
  </div>
  <!-- /.tab-content -->
</div>
{%- endmacro %}


{% macro publication_table(publications, box_type="box-info", with_header=True, with_footer=True, submit_url="/profile/publications") -%}
<div class="box {{ box_type }}" id="publications">
  <div class="box-body">
  {% if with_header %}
    <div class="box-header with-border">
      <h3 class="box-title">Publications</h3>
    </div>
  {% endif %}
    <div id="dt_pub_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
      <table id="table_pub" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="table_pub_info">
        <thead>
          <tr role="row">
            <th class="sorting" aria-controls="table_pub" aria-label="Year: activate to sort column ascending">Year</th>
            <th class="sorting" aria-controls="table_pub" aria-label="Conference/Journal: activate to sort column ascending">Conference/Journal</th>
            <th class="sorting" aria-controls="table_pub" aria-label="Title: activate to sort column ascending">Title</th>
            <th class="sorting" aria-controls="table_pub" aria-label="Author: activate to sort column ascending">Author</th>
          </tr>
        </thead>
        <tbody>
        {% for item in publications %}
          <tr role="row" class="odd">
            <td class="sorting_1">{{ item['year'] }}</td>
            <td>{{ item['booktitle'] | default(item['journal']) }}</td>
            <td>{{ item['title'] }}</td>
            <td>{{ item['author'] }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  {% if with_footer %}
  <div class="box-footer clearfix">
    <div class="pull-right">
      <button type="button" id="button_del_pub" class="btn btn-danger margin">Delete</button>
      <button type="button" id="button_new_pub" class="btn btn-info margin">New</button>
    </div>
    <div class="modal" id="modal_new_pub">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span></button>
            <h4 class="modal-title">New publication</h4>
          </div>
          <div class="modal-body">
            {% call new_publication_tab(submit_url) %}
            {% endcall %}
          </div>
          <div class="modal-footer">
            <button type="button" id="delete_new_pub_cancel" class="btn btn-default pull-left" data-dismiss="modal">Cancel</button>
            <button type="button" id="button_new_pub_submit" class="btn btn-success">Submit</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
</div>
{%- endmacro %}

{% macro publication_js(with_footer=True) -%}
<script src="/static/AdminLTE/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/static/AdminLTE/plugins/datatables/dataTables.bootstrap.min.js"></script>
<script src="/static/js/jquery.validate.min.js"></script>
<script>
  $(document).ready(function () {
    $('#table_pub').DataTable({
        "paging": true,
        "lengthChange": true,
        "searching": true,
        "order": [[0, 'desc'], [1, 'asc']],
        "info": true,
        "autoWidth": false,
      });
  });
  {% if with_footer %}
  $("#button_new_pub").click(function () {
      $("#modal_new_pub").modal("toggle");
  });
  $("#button_new_pub_submit").click(function () {
      var submitType = $('.nav-tabs .active').text();
      var form_selector = "#form_" + submitType.toLowerCase();
      $(form_selector).validate({
        rules: {
            title: {required: true},
            author: {required: true},
            year: {required: true}
        }
    });
      $(form_selector).submit();
  });
  {% endif %}
</script>
{%- endmacro %}

{% macro bar_chart(title) -%}
<div class="box box-info">
  <div class="box-header with-border">
    <h3 class="box-title">{{ title }}</h3>
    <div class="box-tools pull-right">
      <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
      </button>
      <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
    </div>
  </div>
  <div class="box-body">
    <div class="chart">
      <canvas id="chart_{{ title | replace(' ', '_') | lower }}"></canvas>
    </div>
  </div>
</div>
{%- endmacro %}

{% macro chart_common_js() -%}
<script src="/static/AdminLTE/plugins/chartjs/Chart.min.js"></script>
<script type="text/javascript">
  var barChartOptions = {
    //Boolean - Whether the scale should start at zero, or an order of magnitude down from the lowest value
    scaleBeginAtZero: true,
    //Boolean - Whether grid lines are shown across the chart
    scaleShowGridLines: true,
    //String - Colour of the grid lines
    scaleGridLineColor: "rgba(0,0,0,.05)",
    //Number - Width of the grid lines
    scaleGridLineWidth: 1,
    //Boolean - Whether to show horizontal lines (except X axis)
    scaleShowHorizontalLines: true,
    //Boolean - Whether to show vertical lines (except Y axis)
    scaleShowVerticalLines: true,
    //Boolean - If there is a stroke on each bar
    barShowStroke: true,
    //Number - Pixel width of the bar stroke
    barStrokeWidth: 2,
    //Number - Spacing between each of the X value sets
    barValueSpacing: 5,
    //Number - Spacing between data sets within X values
    barDatasetSpacing: 1,
    //String - A legend template
    legendTemplate: "<ul class=\"<%=name.toLowerCase()%>-legend\"><% for (var i=0; i<datasets.length; i++)\{\%><li><span style=\"background-color:<%=datasets[i].fillColor%>\"></span><%if(datasets[i].label)\{\%><%=datasets[i].label%><\%\}%></li><\%\}%></ul>",
    //Boolean - whether to make the chart responsive
    responsive: true,
    maintainAspectRatio: true,
    datasetFill: false
  };
  var colors = ["#00a65a", "#f56954", "#f39c12", "#00c0ef", "#3c8dbc", "#d2d6de"];
</script>
{%- endmacro %}

{% macro bar_chart_js(url) -%}
<script type="text/javascript">
  $(document).ready(function() {
    $("canvas").each(function() {
      var canvasId = $(this).attr("id");
      $.post({
        url: "{{ url }}",
        data: {stats_key: canvasId.split("_").slice(1).join("_")},
        dataType: 'json',
      }).done(function (retData) {
        var labels = retData["x_val"], datasets = [];
        for (var position in retData["y_val"]) {
          datasets.push({
            label: position,
            pointStrokeColor: "#c1c7d1",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(220,220,220,1)",
            data: retData["y_val"][position]
          })
        }
        for (i = 0; i < datasets.length; i++) {
          datasets[i].fillColor = colors[i];
          datasets[i].strokeColor = colors[i];
          datasets[i].pointColor = colors[i];
        }
        var barChartData = {
          labels: labels,
          datasets: datasets
        };
        var barChartCanvas = $("#" + canvasId).get(0).getContext("2d");
        var barChart = new Chart(barChartCanvas);
        barChart.Bar(barChartData, barChartOptions);
      });
    })
  });
</script>
{%- endmacro %}