{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block title %}
<title>LabMan | Members</title>
{% endblock %}

{% block content_header %}
<h1>Profile</h1>
<ol class="breadcrumb">
  <li><a href="/overview"><i class="fa fa-dashboard"></i>Overview</a></li>
  <li class="active">profile</li>
</ol>
{% endblock %}

{% block content %}
<div class="box box-info">
  <form class="form-horizontal" id="form_profile" method="post" _lpchecked="1">
    {{ macros.profile_form(member) }}
    {% if session['auth_level'] == 'admin' %}
    <div class="modal" id="modal_delete_confirm">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span></button>
            <h4 class="modal-title">Warning</h4>
          </div>
          <div class="modal-body">
            <p>Confirm to delete the member?</p>
          </div>
          <div class="modal-footer">
            <button type="button" id="delete_confirm_cancel" class="btn btn-default pull-left" data-dismiss="modal">Cancel</button>
            <button type="button" id="button_delete_confirm" class="btn btn-danger">Delete</button>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
    <div class="box-footer">
      <p>
      <button type="button" id="button_delete" class="btn btn-danger margin pull-left">Delete</button>
      <div class="pull-right">
        <button type="button" id="button_edit" class="btn btn-info margin" onclick="toggleEdit()">Edit</button>
        <button type="submit" id="button_update" class="btn btn-info margin">Update</button>
      </div>
      </p>
    </div>
    <!-- /.box-footer -->
    {% endif %}
  </form>
</div>
{{ macros.publication_table(member.publications, with_footer=(session['auth_level']=='admin'), submit_url="/member/%d/publications"|format(member.uid)) }}
</div>
{% endblock %}

{% block extra_js %}
<script type="text/javascript">
    $("#select_position").val("{{ member.position }}");
    {% if session['auth_level'] == 'admin' %}
    $("#form_profile :input").attr("readonly", true);
    $("#button_update").attr("disabled", true);
    function toggleEdit(){
        if ($("#button_edit").text() == "Edit") {
            $("#button_edit").text("Cancel");
            $("#form_profile :input").attr("readonly", false);
            $("#button_update").attr("disabled", false);
        } else {
            $("#button_edit").text("Edit");
            $("#form_profile :input").attr("readonly", true);
            $("#button_update").attr("disabled", true);
        }
    }
    $("#button_delete").click(function () {
        $('#modal_delete_confirm').modal('toggle')
    });
    $("#button_delete_confirm").click(function () {
        $.ajax({
            url: '#',
            type: 'DELETE',
            success: function() {
                location.href = "/overview"
            }
        });
    });
    {% endif %}
</script>
{{ macros.input_mask() }}
{{ macros.publication_js() }}
{% endblock %}
