{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block title %}
<title>LabMan | Notification</title>
{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="/static/AdminLTE/plugins/iCheck/square/blue.css">
{% endblock %}

{% block content_header %}
<h1>Notification</h1>
<ol class="breadcrumb">
  <li><a href="/overview"><i class="fa fa-dashboard"></i>Home</a></li>
  <li class="active">notification</li>
</ol>
{% endblock %}

{% block content %}
<div class="box box-primary">
  <div class="box-header with-border">
    <h3 class="box-title">All</h3>
    <div class="box-tools pull-right">
      <div class="has-feedback">
        <input type="text" class="form-control input-sm" placeholder="Search Notification">
        <span class="fa fa-search form-control-feedback"></span>
      </div>
    </div>
    <!-- /.box-tools -->
  </div>
  <!-- /.box-header -->
  <div class="box-body no-padding">
    <div class="table-responsive mailbox-messages">
      <table class="table table-hover table-striped">
        <tbody>
        </tbody>
      </table>
      <!-- /.table -->
    </div>
    <!-- /.mail-box-messages -->
  </div>
  <!-- /.box-body -->
  <div class="box-footer no-padding">
    <div class="mailbox-controls">
      <!-- Check all button -->
      <button type="button" class="btn btn-default btn-sm checkbox-toggle"><i class="fa fa-square-o"></i>
      </button>
      <div class="btn-group">
        <button type="button" class="btn btn-default btn-sm"><i class="fa fa-trash-o"></i></button>
      </div>
      <!-- /.btn-group -->
      <div class="pull-right">
        0/0
        <div class="btn-group">
          <button type="button" class="btn btn-default btn-sm"><i class="fa fa-chevron-left"></i></button>
          <button type="button" class="btn btn-default btn-sm"><i class="fa fa-chevron-right"></i></button>
        </div>
        <!-- /.btn-group -->
      </div>
      <!-- /.pull-right -->
    </div>
  </div>
</div>
{% endblock %}

{% block extra_js %}
  <script src="/static/AdminLTE/plugins/iCheck/icheck.min.js"></script>
{% endblock %}
