{% extends "base.html" %}
{% block content_header %}
<h1>Members</h1>
<ol class="breadcrumb">
  <li><a href="/overview"><i class="fa fa-dashboard"></i> Overview</a></li>
  <li class="active">members</li>
</ol>
{% endblock %}

{% block content %}
  {% if session['auth_level'] == 'admin' %}
  <div class="row">
    <div class="col-md-2 pull-right">
      <a href="/member/new" type="button" class="btn btn-block btn-primary"> New Member </a>
    </div>
  </div>
  {% endif %}
  <p></p>
  {% for position in session['config']['positions'] %}
  {% if position in members %}
  <h4>{{ position }}</h4>
  <div class="row">
  {% for member in members[position] %}
    <div class="col-md-3">
      <div class="box box-primary">
        <div class="box-body box-profile">
          <img class="profile-user-img img-responsive img-circle" src="{{ member.avatar_url }}" alt="User avatar">
          <a href="/member/{{ member.uid }}"><h3 class="profile-username text-center">{{ member.en_name }}</h3></a>
          <ul class="list-group list-group-unbordered">
            <li class="list-group-item">
            {% if member.position == "Professor" %}
              <b>Join date</b>
            {% else %}
              <b>Admission date</b>
            {% endif %}
              <a class="pull-right">{{ member.from_date }}</a>
            </li>
            {% if member.position != "Professor" %}
            <li class="list-group-item">
              <b>Supervisor</b> <a class="pull-right">{{ member.supervisor }}</a>
            </li>
            {% endif %}
            <li class="list-group-item">
              <b>Email</b> <a class="pull-right" href="mailto:{{ member.email }}">{{ member.email }}</a>
            </li>
            {% if member.position != "Professor" %}
            <li class="list-group-item">
            {% if member.cv_url %}
              <b>CV</b> <a class="pull-right" href="{{ member.cv_url }}">Link</a>
            {% else %}
              <b>CV</b> <a class="pull-right">None</a>
            {% endif %}
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>
  {% endfor %}
  </div>
  {% endif %}
  {% endfor %}
{% endblock %}
